@import '../../presets';


.section-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.emphasis {
    color: $emphasis-color;
    text-decoration: underline;
}

.technology-about {
    max-width: 6rem;
    max-height: 3rem;
    margin-right: 1rem;
}

h4 {
    font-size: 1.3rem;
}

.technology-distribution {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

@media (max-width: 648px) {
    .technology-distribution {
        display: block;
        margin-bottom: 1rem;
        text-align: center;
    }
    .technology-about {
        margin-bottom: 1rem;
    }
    h2,
    h3,
    h4 {
        text-align: center;
    }
}