@import '../../presets';

.emphasis {
    color: $emphasis-color;
    text-decoration: underline;
}

.technology-about {
    max-width: 6rem;
    max-height: 3rem;
    margin-right: 1rem;
}

h4 {
    font-size: 1.3rem;
}