@import '../../presets';

.title {
    font-size: 1.5rem;
    color: $emphasis-color;
}

.main-img {
    
    @media (max-width: 648px) {
        width: 20rem;
        margin-bottom: 1rem;
    }
}

.main-content {
    @media (max-width: 648px) {
        text-align: center;
    }
}

.icon-distribution {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 648px) {
        justify-content: center;
    }
}

.btn {
    background-color: transparent;
    color: $text-color;
    font-weight: 400;
    &:hover {
        background-color: $text-color;
        color: $background-color;
    }
}

.projectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 7rem;
    @media (max-width: 648px) {
        flex-direction: column;
    }
}

