@import '../../presets';

.title {
    font-size: 1.5rem;
    color: $emphasis-color;
}


.btn {
    background-color: transparent;
    color: $text-color;
    font-weight: 400;
    &:hover {
        background-color: $text-color;
        color: $background-color;
    }
}

.projectWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 7rem;
}