$background-color: #171c28;
$text-color: #ffffff;
$emphasis-color: #70FFF1;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 600;
$font:'Source Code Pro', monospace;
$text-size: 16px;

body {
  font-family: $font;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  font-size: $text-size;
}

.icon-style {
  margin: 0.5rem;
  max-width: 3.5rem;
}

h5 {
  color: $emphasis-color;
}

.loading-container {
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 648px) {
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}