$background-color: #171c28;
$text-color: #ffffff;
$emphasis-color: #70FFF1;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 600;
$font:'Source Code Pro', monospace;
$text-size: 16px;

body {
  font-family: $font;
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  font-size: $text-size;
}

.right-section {
  width: 80%;
  display: flex;
  justify-content: flex-end; 
  position: fixed;
}

.left-section {
  width: 60%;
}